.whatsapp-float {
  position: fixed;
  right: 22px;
  bottom: 22px;
  z-index: 999;

  height: 54px;
  padding: 0 18px;

  display: flex;
  align-items: center;
  gap: 9px;

  background: #25d366;
  color: white;

  border-radius: 50px;

  font-size: 0.75rem;
  font-weight: 800;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);

  transition: 0.3s;
}

.whatsapp-float:hover {
  transform: translateY(-5px) scale(1.03);
}

@media (max-width: 500px) {
  .whatsapp-float {
    width: 54px;
    padding: 0;
    justify-content: center;
  }

  .whatsapp-float span {
    display: none;
  }
}