.contact-section {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  gap: 80px;
}

.contact-details {
  margin-top: 40px;
  display: grid;
  gap: 18px;
}

.contact-details > div,
.contact-details > a {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  padding: 20px;
  background: #151515;
}

.contact-details svg {
  color: var(--yellow);
  flex-shrink: 0;
}

.contact-details span {
  color: #aaa;
  line-height: 1.7;
  font-size: 0.85rem;
}

.contact-details strong {
  display: block;
  color: white;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.contact-form {
  padding: 45px;
  background: var(--yellow);
  color: #080808;
}

.form-tag {
  font-size: 0.7rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.contact-form h3 {
  font-family: "Anton", sans-serif;
  font-size: 2.4rem;
  margin: 8px 0 30px;
}

.contact-form label {
  display: block;
  font-size: 0.75rem;
  font-weight: 800;
  margin-bottom: 18px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-top: 8px;
  border: 0;
  outline: none;
  background: white;
  color: #111;
  padding: 15px;
}

.contact-form textarea {
  min-height: 110px;
  resize: vertical;
}

.contact-form button {
  width: 100%;
  border: 0;
  background: #090909;
  color: white;
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 850px) {
  .contact-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .contact-section {
    padding: 70px 0;
    gap: 50px;
  }

  .contact-form {
    padding: 30px 20px;
  }
}

.contact-instagram-icon {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  background: var(--yellow);
  color: #111 !important;

  font-size: 9px !important;
  font-weight: 900;

  border-radius: 6px;
}